i.left {
  float: left;
  margin-right: 10px;
  margin-top: -3px;
  font-size: 22px;
}

i.right {
  float: right;
  margin-left: 10px;
  margin-top: -3px;
  font-size: 22px;
}

.form-pics {
  margin: 0;
  padding: 0;
}

.form-pics li {
  list-style: none;
  width: 150px;
  height: 150px;
  background-size: cover;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.form-pics li i.material-icons {
  opacity: 0;
  margin: 5px;
  color: #e74c3c;
  cursor: pointer;
}

.form-pics li:hover i.material-icons {
  opacity: 1;
}